/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #compute {
    text-align: center;
    display: block;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #flex {
    display: flex;
  }

}

#map {
  height: 300px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
