.inputRow {
    width: 80%;
}

@media (max-width: 575px) {
    .row {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 576px) {
    .inputRow {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
